<app-header titulo="input"></app-header>
<ion-content class="ion-padding">
  <ion-list>
    <p style="text-align: center; font-weight: bold;">Registro de Usuario</p>

    <ion-item class="image-container">
      <img alt="imagen1" src="assets/icon_login.png" class="centered-image" />
    </ion-item>
    
    <ion-item>
      <ion-label><strong><em>Ingrese Number :</em></strong></ion-label>
      <ion-input type="number" placeholder="0980068719"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label><strong><em>Ingrese Password :</em></strong></ion-label>
      <ion-input type="password" value="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label><strong><em>Ingrese Email:</em></strong></ion-label>
      <ion-input type="email" placeholder="lorena.leonorbarros@gmail.com"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label><strong><em>Ingrese Telephone:</em></strong></ion-label>
      <ion-input type="tel" placeholder="888-888-8888"></ion-input>
    </ion-item>

    <ion-button expand="full" color="secondary" (click)="FullClick()">Guardar</ion-button>
  </ion-list>
</ion-content>

